@page "{genericSlug}"
@model GenericEndpointRouting.Pages.Blog.BlogPostModel
@{
    ViewData["Title"] = "Blog Post";
}

    <h1>@ViewData["Title"]</h1>
<h2>Slug: @Model.Slug</h2>
<h2>@Model.RouteDataString</h2>

